// You can use this file to adjust for the new year
// Change every occurence of 2019 to the year of the new WAC proceedings
// Add or remove tracks (papers, posters) to correspond with the new WAC proceedings
// Copy the code and paste it in the proceedings.html file in the src folder, above the last year


<h2>2019</h2>

<h3>Papers</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Paper' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Posters</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Poster' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Talks</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Talk' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Demos</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Demo' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Artworks</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Artwork' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Performances</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Performance' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Keynotes</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Keynote' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}

<h3>Workshops</h3>

{% for post in collections.year2019 %}
{% if post.data.track == 'Workshop' %}
<ul>
  <li>
    {{ post.data.webAuthor }}:
    <a href="{{ post.url }}">{{ post.data.title }}</a>

    {% if post.data.pdflink != 'none' %}
    <img src="/assets/images/pdf.svg" height="20px" width="20px" />
    {% endif %}

    {% if post.data.media != 'none' %}
    <img src="/assets/images/video.svg" height="17px" width="17px" />
    {% endif %}
  </li>
</ul>
{% endif %}
{% endfor %}