<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <title>
      {{ settings.siteName }}
      |
      {{ title }}
    </title>
  </head>
  <body>

    <header>
      <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/proceedings'>Proceedings</a>
      </nav>
    </header>

    {{ content }}
  </body>
</html>
