---
layout: _layouts/base.liquid
---

<div class="mb-5">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <h1 class="title">{{ title }}</h1>
      <div>{{ content }}</div>
    </div>
  </div>
</div>