---
layout: _layouts/base.liquid
welcomeMessage: 'Home'
title: 'Home'
---

<h1>{{ welcomeMessage }}</h1>

<!-- {{ bysykler }}

{% for bysykkel in bysykler.data.stations %}
  {{ bysykkel.station_id }}
{% endfor %}

-->
